.conversationPane {
    display: flex;
    flex-direction: column;

    width: auto;
    height: 80%;

    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;

    padding: 20px;
    margin-left: 4px;
    background-color: #f7f7f7;
}

.messageInput {
    width: 100%;
    height: auto;

    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    padding: 10px;

    box-sizing: border-box;
    border-radius: 8px 8px 8px 8px;
    border: 2px solid #d4d4d4;
    box-shadow: 0px 0px 2px #e8e8e8;

    overflow: auto;
    outline: none;
    resize: none;
}

.chatContainer {
    display: flex;
    flex-direction: row;

    height: 100%;
}

.contactList {
    width: 500px;
    height: auto;

    display: flex;
    flex-direction: column;
    overflow-y: hidden;
}

.listBreak {
    padding: 16px;
    margin-top: 4px;

    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-style: oblique;
    text-align: center;

    background-color: #f0f0f0;
    color: grey;
    
    border-bottom: 2px solid #e8e8e8;
    border-radius: 8px 8px 8px 8px;

}

.contactListItem {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

    height: 70px;
    line-height: 70px;

    background-color: #f0f0f0;
    color: grey;
    border-bottom: 2px solid #e8e8e8;
}

.contactListItem:hover{
    background-color: #e8e8e8;
    box-shadow: 0px 0px 3px #8f8f8f;
    z-index: 1;
}

.messageBox {
    display: inline-block;

    border-radius: 8px 8px 8px 0px;

    max-width: 300px;
    min-width: 20px;
    height: auto;

    padding:10px;
    margin: 6px;

    font-size: 16px;
    font-family: Helvetica;
    color: white;
}

.contactButtonsContainer {
    padding: 10px;
    flex-grow: 1;
}

.contactHeader {
    flex-grow: 6;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    text-align: center;
}

.iconDefaultStyle {
    display: inline-flex;
    vertical-align: middle;
    align-items: center;
}

