.conversationPane {
    display: flex;
    flex-direction: column;

    width: auto;
    height: 80%;

    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;

    padding: 20px;
    background-color: aliceblue;
}

.messageInput {
    width: 100%;
    height: auto;

    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    padding: 10px;

    box-sizing: border-box;

    overflow: auto;
    outline: none;
    resize: none;
}

.chatContainer {
    display: flex;
    flex-direction: row;

    height: 100%;
}

.contactList {
    width: 400px;
    height: auto;

    display: flex;
    flex-direction: column;
    overflow-y: scroll;
}

.listBreak {
    padding: 10px;

    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    text-align: center;

    background-color: cornsilk;
    color: black;
}

.contactListItem {
    padding: 10px;

    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    text-align: center;

    background-color: cornsilk;
    color: black;
}

.contactListItem:hover{
    background-color: burlywood;
}

.messageBox {
    display: inline-block;

    border-radius: 8px 8px 8px 0px;

    max-width: 300px;
    min-width: 20px;
    height: auto;

    padding:10px;
    margin: 6px;

    font-size: 16px;
    font-family: Helvetica;
    color: white;
}
