.contentContainer{
    margin: auto;
    width: 83%;
    padding: 10px;
    height: 700px;
    overflow-y: hidden;
}

.newsListContainer{
    width: auto;
}

.newsListBrick{
    display: flex;
    background-color: grey;
    align-items: center;
}

.newsListBar{
    width: auto;
    background-color: white;
    margin: 5px;
}

.newsAccordion{
    width:auto;
    background-color: white;
    padding: 40px;

    display: flex;
    flex-direction: column;
}

.newsInputPane {    
    font-family: Arial, Helvetica, sans-serif;  
    display:flex;
    flex-direction: column;
    align-items: stretch;
    width: 100%;
}

.newsHeaderPane{
    width: 70%;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.newsEditionPane{
    width: 30%;
}