.headerPane {
  margin-left: 40px;
  margin-top: 25px;
  margin-bottom: 10px;
  padding: 20px;
  text-align: left;
  color: #c6bccf;
  font-size: 40px;
  font-weight: bold;
  font-family: "Bookman Old Style";
}

body {
  background-color:#dbd0bd;
  padding-top: 0;
  margin: 5px;
}
body {
  margin: 0;
  min-height: 100vh;
}

@media only screen and (max-width: 1700px) {
  .colorFillLeft{
    display: none;
  }
  .colorFillRight{
    display: none;  
  }
}

.colorFillLeft {
  background-color: #e9e2d6;
  border-radius: 0px 0px 0px 25px;  
}
.colorFillRight {
  background-color: #e9e2d6;
  border-radius: 0px 0px 25px 0px;
}

.mainPane {
  flex: 1;
  min-height:700px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  margin-bottom: 5px;
  background-color: white;
  border-radius: 0px 0px 25px 25px;
}

@media only screen and (max-width: 1700px) {
  .mainPane {
    width:100%;
    border-radius: 0px;
  }
}

.navbarPane {
  background-color:#F9F9F9;
  border-left: 2px solid #f2f2f2;
  
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.navbarUpperPane {
 flex-grow: 7;
 display: flex;
 align-items: center;
}

.verticalBreak {
  border-left: 3px solid #e3e1df;
}

.navbarLowerPane {
  margin:auto;
  flex-grow: 1;
  width: 80%;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-self: center;
}

.aboutContentPane {
  width: 100%;
  margin-top: 4px;
  font-family: Helvetica;
  color: #ad997a;
  align-self: flex-end;
  display: flex;
  justify-content: center;
  align-items: center;
}

.aboutHeaderPane {
  margin-top: 15px;
  text-align: left;
  color: #dbd0bd;
  font-size: 35px;
  font-weight: bold;
  font-family: "Bookman Old Style";
}

.contentPane {
  padding: 5px;
  padding-top: 0px;
  text-align: center;
  font-family: sans-serif;
  background-color: white;
}
