@import url('https://fonts.googleapis.com/css?family=Gelasio|Montserrat&display=swap');

.textContainer {
  width: 66%;
  margin: 0 auto;
}

.inspirationsContainer {
  width: 66%;
  margin: 0 auto;
}

.musicContainer {
  margin: 0 auto;
  margin-top: 10px;
  height: 300px;
}

.musciContainer::-webkit-scrollbar { /* WebKit */
    width: 0;
    height: 0;
}

.musicBrick {
  border: 1px solid #d4d2d1;
  margin-bottom: 5px;
  padding: 10px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #f7f1ee;
}

.musicTextContainer {
  width: 80%;
  border-left: 1px solid #d4d2d1;
  text-align: center;
}

.musicPhotoContainer {
  width: 20%;
  text-align: center;
}

.musicTitle {
  font-family: 'Gelasio', serif;
  font-size: 20px;
  color:grey;
}

.musicDescription {
  padding: 3px;
  font-family: 'Montserrat', sans-serif;
  font-size: 13px;
}
