.app {
  background-color:white;
  padding: 0;
  margin: 0;
  width: auto;
  height: auto;
}

.header {
  left: 0;
  padding: 50px;
  margin: 0;
  font-size: 40px;
  font-weight: bold;
  background-color:#faf3ed;
  align-self: stretch;
  text-align: center;
}
