.headerPane {
  width: 100%;
  padding: 70px;
  text-align: left;
  font-size: 40px;
  font-weight: bold;
  font-family: serif;
}

.mainPane {
  padding: 100px;
  padding-top: 0px;
  text-align: center;
  font-family: sans-serif;
}
